__pycache__
/java/target/
/java/.idea/
/java/md2html.iml
/e2e_tests/test_output/
/python/test/test_output/*
!/python/test/test_output/.gitkeep
/python/.idea/
/e2e_tests/.idea/
/.idea/
/src/.$diagrams.drawio.bkp
/src/.$*.drawio.dtmp
