body, html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
}

/* p, li {
    border: solid 1px fuchsia;
} */

p, h1, h2, h3, h4, h5, h6 {
    max-width: 900px;
}

li {
    max-width: 860px;
}

ul, ol {
    padding-left: 40px;
}

hr {
    background: cadetblue;
    height: 1px;
    border: 0px;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

del {
    color: red;
}

ins {
    color: green;
}

pre {
    /* font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif; */
    /* font-size: 16px; */
    /* background-color: #eeeeee; */
    /*border: black 1px solid;*/
    /* width: 1000px; */
    /* min-width: max-content; */
    /* padding: 15px; */
}

code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
    font-size: 16px;
    background-color: #eeeeee;
    padding-left: 6px;
    padding-right: 6px;
    /* border: solid 1px darkgray; */
    border-radius: 7px;
    white-space: nowrap;
}

pre>code {
    font-size: 16px;
    display: block;
    width: 878px;
    min-width: max-content;
    line-height: 1.4;
    border-radius: 0;
    /* border: none; */
    /* margin: -15px; */
    /* padding: 15px; */
    white-space: pre;
    padding: 10px;
}

pre>code.text {
    background-color: unset;
    padding: 0;
    width: 900px;
    border: none;
}

pre>code.shell {
    background-color: #282c33;
    color: #cccccc;
    border: solid 1px #282c33;
}

pre>code.code {
    /* color: #115d8b; */
    color: #04283e;
    border: solid 1px #d9d9d9;
    background-color: #f7f7f7;
}

blockquote {
    margin-left: 0;
    padding: 1px 10px;
    font-size: 16px;
    width: 868px;
    min-width: max-content;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px 1px 1px 10px;
    /* border-left: #cccccc 10px solid; */
    /* border-top: #cccccc 1px solid; */
    /* border-right: #cccccc 1px solid; */
    /* border-bottom: #cccccc 1px solid; */
}

blockquote p, blockquote li {
    max-width: 868px;
}

table {
    font-size: 16px;
}

td, th {
    padding: 2px 7px;
}

div.tablePlated+table {
    border-spacing: 2px;
    border-collapse: separate;
}

div.tablePlated+table td, div.tablePlated+table th {
    padding: 7px 14px;
}

div.tablePlated+table th {
    background-color: #9dbbea;
}

div.tablePlated+table td {
    background-color: #a5dbec;
}

div.tableGridded+table {
    border-spacing: 0;
    border-collapse: collapse;
}

div.tableGridded+table th {
    background-color: #e9f0f2;
}

div.tableGridded+table td, div.tableGridded+table th {
    border: solid 1px #6a8fb3;
    padding: 7px 14px;
}
