body {
    color: #212178;
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #afdde9;
}

h1, h2, h3 {
    color: #aa0044;
}

.contentBlock {
    width: 95%;
    background-color: #87cdde;
    padding: 40px;
    
}